body {
    background-image: linear-gradient(to right, #FFB6C1, #EED5D2);
}
.h1 {
    text-align: center;
    color: #DB7093;
    font-family: sans-serif;
    text-shadow: 2px 2px 25px;
}
hr {
    border: none;
    height: 4px;
    background-color: #DB7093;
    box-shadow: 2px 2px 15px #FFB6C1;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 13px;
    border-radius: 10px;
}